
<div class="col-md-11">
  <div class="panel panel-primary">
    <div class="panel-heading">Price List According to Buy Qty</div>
    <div class="panel-body">
      <div class="col-md-12">
        <p><a class="btn btn-info btn-lg" routerLink="/buy" role="button"> Go Buy Products</a></p>
        <br>
        <form class="form-group" name="item">
        <div class="row">


          <div class="col-md-2">
            <label >Item</label>
          </div>
          <div class="col-md-5">

            <select (change)="listAllPriceByItem(selectedValue)"
                    name="item" [(ngModel)]="selectedValue" class="form-control">
              <option [value]="0">--Select Item--</option>
              <option [value]="item.id" *ngFor="let item of items">{{item.description}}</option>
            </select>

          </div>


        </div>
        </form>
        <br>
        <h6>Unit price and actual unit price for 1-50 Units</h6>
        <div class="row">

          <div class="col-md-10">
            <table class="table table-responsive">
              <tr>
                <td>Qty</td>
                <td>Unit Price</td>
                <td>Actual Price</td>
              </tr>

              <tr *ngFor="let row of priceList">
                <td>{{row.qty}}</td>
                <td>{{row.unitPrice | number}}</td>
                <td>{{row.actualPrice | number}}</td>
              </tr>
            </table>

          </div>

        </div>


      </div>
    </div>
  </div>
</div>




